s3_pipeline_dbt:
  target: "{{ env_var('DBT_TARGET', 'dev') }}"
  outputs:
    dev:
      type: athena
      region_name: "{{ env_var('AWS_REGION') }}"
      database: awsdatacatalog
      schema: "{{ env_var('DBT_SCHEMA', 'silver') }}"
      s3_staging_dir: "{{ env_var('ATHENA_STAGING_DIR') }}"
      s3_data_dir: "{{ env_var('ATHENA_DATA_DIR') }}"
      work_group: "{{ env_var('ATHENA_WORKGROUP') }}"
      threads: 4
    prod:
      type: athena
      region_name: "{{ env_var('AWS_REGION') }}"
      database: awsdatacatalog
      schema: "{{ env_var('DBT_SCHEMA', 'silver') }}"
      s3_staging_dir: "{{ env_var('ATHENA_STAGING_DIR') }}"
      s3_data_dir: "{{ env_var('ATHENA_DATA_DIR') }}"
      work_group: "{{ env_var('ATHENA_WORKGROUP') }}"
      threads: 4
